[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
SQLAlchemy = "*"
alembic = "*"
psycopg2-binary = "*"
python-dotenv = "*"
passlib = "*"
bcrypt = "*"

[dev-packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
SQLAlchemy = "*"
alembic = "*"
psycopg2-binary = "*"
python-dotenv = "*"
passlib = "*"
bcrypt = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
